@import "../../../../../public/styles/variables";

.courseCreationModalContainer {
  backdrop-filter: blur(4px);
  background-color: none;
  .modalHeader {
    background-color: $CuaternaryDark;
  }
  .modalFooter {
    background-color: $CuaternaryDark;
  }

  .modalHeader {
    padding: 12px 12px 12px 36px;

    .cardTitle {
      display: flex;
      align-items: center;
      gap: 12px;
      color: white;

      .logoImg {
        width: 200px;
      }
      .iconContainer {
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: $PrimaryDarkColor;
        display: grid;
        place-items: center;
        font-size: 25px;
        color: $PrimaryOrangeColor;
      }

      .titleText {
        margin: 0;
      }
    }
    .btn-close {
      margin: 4px;
      border-radius: 100%;
      background-color: $PrimaryOrangeColor;
      opacity: 0.8;
    }

    .btn-close:hover {
      background-color: $PrimaryOrangeColor;
    }
  }
  .modalBody {
    height: fit-content;
    padding: 12px clamp(20px, 6vw, 100px);
    background-color: #9d9d9d;
    width: 100%;
    display: grid;
    grid-template:
      "inputName inputName"
      "inputCategory inputLength"
      "inputTeacher  inputTags"
      "inputPrice tagsList"
      "inputDate tagsList"
      "inputDescription inputDescription";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
    align-items: center;
    place-items: center;
    grid-gap: 6px;

    .inputName {
      grid-area: inputName;
    }

    .inputCategory {
      grid-area: inputCategory;
    }
    .inputLength {
      grid-area: inputLength;
    }
    .inputTeacher {
      grid-area: inputTeacher;
    }

    .inputTags {
      grid-area: inputTags;
    }

    .inputPrice {
      grid-area: inputPrice;
    }

    .inputDescription {
      grid-area: inputDescription;
    }
    .tagsList {
      grid-area: tagsList;
    }
    .inputDate {
      grid-area: inputDate;
    }

    .inputName,
    .inputCategory,
    .inputLength,
    .inputTeacher,
    .inputTags,
    .inputPrice,
    .inputDescription,
    .tagsList,
    .inputDate {
      padding: 0 8px;
      width: 100%;
    }

    .input1,
    .input2,
    .input3,
    .tagListContainer {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      border-style: solid;
      background-color: rgba(255, 255, 255, 0.181);
      padding: 0 20px;
      border: 2px solid $PrimaryDarkColor;
      color: $CuaternaryDark;
    }

    .input1:focus,
    .input2:focus,
    .input3:focus,
    .tagListContainer:focus {
      background-color: rgba(82, 82, 82, 0.181);
      outline: none;
      border: 2px solid $PrimaryOrangeColor;
    }

    .input2 {
      option {
        background-color: rgba(82, 82, 82, 0.6);
        color: white;
      }
    }

    .tagListContainer,
    .input3 {
      height: 100%;
    }
    .tagListContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start ;
      align-self: start;
      padding: 8px 12px;
      overflow-y: auto;

      p{
        width: 100%;
        white-space: normal;
        height: fit-content;;
        display: flex;
        flex-wrap: wrap;
      }

    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    .tagListContainer::-webkit-scrollbar {
      width: 10px;
    }
  
    .tagListContainer::-webkit-scrollbar-thumb {
      background-color: #7d7c7c;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  
    .tagListContainer::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  
    .tagListContainer::-webkit-scrollbar-track {
      background-color: $PrimaryDarkColor;
     border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      overflow: hidden;
    }

    .tagsList,
    .inputDescription {
      height: 100%;
      span {
        position: relative;
        margin: 0;
        .deleteIcon {
          left: -9px;
          color: black;
          top: 3px;
          position: absolute;
          background-color: rgb(255, 51, 51);
          height: 20px;
          width: 18px;
          border: 0.5px solid black;
          border-radius: 4px;
          margin-bottom: 4px;
          display: none;
          cursor: pointer;
        }
      }
      span:hover {
        text-decoration: line-through;
        .deleteIcon {
          display: inline;
        }
      }
    }

    .inputTags {
      .input1 {
        width: calc(100% - 85px);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: none;
      }
      .addTagButton {
        height: 40px;
        width: 85px;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .errorMessage {
      font-weight: 400;
      font-style: italic;
      color: rgb(166, 1, 1);
      padding-left: 10px;
    }
  }

  .modalFooter {
    justify-content: space-evenly;

    .btnNormal {
      padding: 6px;
      width: 150px;
      border: 2px solid $PrimaryOrangeColor;
      color: black;
    }
    .btnNormal:hover {
      background-color: transparent;
      color: white;
    }
    .btnOutline1 {
      padding: 6px;
      width: 150px;
      font-weight: bold;
    }
  }
}

@media (max-width: 992px) {
  .courseCreationModalContainer {
    .modalBody {
      display: flex;
      flex-direction: column;

      .tagsList {
        height: 120px;
      }
    }
  }
}

@media (max-width: 576px) {
  .courseCreationModalContainer {
    .modalBody {
      display: flex;
      flex-direction: column;

      .tagsList {
        height: 120px;
      }
    }
  }
}
