@import "../../../../public/styles/variables";

.main {
  min-height: calc(100vh - 80px);
  background-color: $PrimaryDarkColor;
  font-family: "Inter-Regular", Helvetica;
}

.formposition {
  position: absolute;
  top: 20%;
  left: 20%;
}

.formContainer {
  height: 50vh;
  width: 75vw;
  display: flex;
  align-content: center;
  position: fixed;
  transition: all 1 ease;
}

.input-user {
  align-items: center;
  background-color: #d9d9d9bb;
  border: none;
  border-radius: 20px;
  display: flex;
  gap: 50px;
  min-height: 47px;
  min-width: 380px;
  padding: 16px 19px;
  position: relative;
  width: 100%;
  color: #1d1d1b;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
}

.span {
  color: #f7ab16;
  text-decoration: none;
}

.text-group4 {
  align-items: center;
  background-color: $PrimaryOrangeColor;
  border: 1px none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  justify-content: center;
  min-width: 500px;
  position: relative;
  width: 100%;
  color: $PrimaryDarkColor;
}

.text-group3 {
  align-items: center;
  background-color: #d9d9d9bb;
  border: 1px none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  justify-content: center;
  min-width: 500px;
  position: relative;
  width: 100%;
}
.text-group4 .welcome-title {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 4.16px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.text-group4 .text-paragraph-cont {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 16px;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: relative;
  color: #000000;
}

.text-group4 .text-wrapper {
  color: var(--cuaternary-dark);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.82px;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 400px;
}

// Responsive Form
