@import "../../../../../public/styles/variables";

.lessonInfoMainSection {
  background-color: $PrimaryDarkColor;
  gap: 8px;
  padding: 4vh 6vw;
  color: white;
  display: grid;
  grid-template-areas:
    "CourseTitle CourseTitle"
    "mainSide rightAsideSection";
  grid-template-columns: 7fr 3fr;

  // Lesson title
  .courseNameCard {
    grid-area: CourseTitle;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid $PrimaryOrangeColor;
    padding: 0 18px;
    color: white;
    gap: 12px;

    .cardTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 12px;

      .title {
        display: flex;
        align-items: center;
        gap: 20px;

        .iconContainer {
          font-size: 40px;
        }
        .titleText {
          margin: 0;
        }
      }
    }
  }

  //Main Side Container
  .mainSide {
    grid-area: mainSide;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    //Image or Video
    .introMultimedia {
      padding-top: 15px;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        max-width: 1000px;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
      }
    }

    //Text card
    .courseTextInfoCard {
      display: flex;
      flex-direction: column;
      background-color: $CuaternaryDark;
      border-radius: 8px;
      gap: 16px;
      padding: 18px;
      color: white;

      //Description
      .containerCourseDescription {
        display: flex;
        flex-direction: column;
        padding: 0 8px;
        .headLineDescription {
          border-bottom: 2px solid $TertiaryDarkColor;
          padding: 0 10px;
          margin-bottom: 12px;
        }

        p {
          text-indent: 20px;
        }

        .smallDescription {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          padding: 0 12px;
        }
        .fullDescription {
          display: block;
          padding: 0 12px;
        }

        .showTextButton {
          background-color: transparent;
          border: none;
          color: $PrimaryOrangeColor;
          align-self: end;
          margin-right: 16px;
        }
        .showTextButton:hover {
          filter: brightness(0.7);
        }
      }
    }
  }
  //Aside
  .rightAsideSection {
    grid-area: rightAsideSection;
    min-width: 350px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;

    .allUnitsLessonCard {
      display: flex;
      flex-direction: column;
      background-color: $CuaternaryDark;
      border-radius: 8px;
      padding: 12px;
      color: white;
      gap: 12px;

      .listHeadline {
        padding: 8px 8px 0 8px;
        display: flex;
        justify-content: space-between;
        gap: 8px;
        border-bottom: 2px solid $TertiaryDarkColor;

        h6 {
          margin: 0px;
        }
      }

      .listContainer {
        display: flex;
        flex-direction: column;
        padding: 0 8px 12px 8px;
        gap: 4px;

        .unitList {
          .unitTitle {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $PrimaryOrangeColor;
            height: 30px;

            h6 {
              margin: 0;
              align-self: end;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }

            .dropdownContainer {
              font-size: 20px;
            }
            .dropdownContainer:hover {
              filter: brightness(0.7);
              color: $PrimaryOrangeColor;
              cursor: pointer;
            }
          }
          ol {
            overflow: hidden;
            padding-inline-start: clamp(5px, 1vw, 20px);
            margin: 0;

            .listHeadline {
              margin: 0;
              margin-top: 12px;
              padding: auto;
            }

            .listedLesson {
              display: grid;
              padding: 0 8px;

              .lessonTitle {
                border-bottom: 1px solid $TertiaryDarkColor;
                display: flex;
                justify-content: space-between;
                align-items: end;

                .lessonText {
                  width: calc(100% - 104px);
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }

    //Coments Card
    .commentsCard {
      background-color: $CuaternaryDark;
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      padding: 12px;
      color: white;
      gap: 12px;

      .cardTitle {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      .commentCardBody{

        .commentInputContainer {
          height: 120px;
          border: 2px solid $PrimaryOrangeColor;
          border-radius: 8px;
          display: grid;
          grid-template:
            "userInfo"
            "commentInput"
            "buttonSend";
  
          grid-template-rows: 30px auto 30px;
          background-color: #333333;
          padding: 8px;
          padding-bottom: 0;
          margin-bottom: 8px;
  
          .userImgContainer {
            overflow-y: hidden;
            display: flex;
            align-items: center;
            gap: 15px;
  
            img {
              border-radius: 100%;
              width: 30px;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
  
          .commentInput {
            width: 100%;
            align-self: end;
            height: 100%;
            background-color: transparent;
            border: none;
            color: white;
            border-bottom: 0.5px solid $PrimaryOrangeColor;
          }
          .commentInput:focus {
            box-shadow: none;
            outline: none;
          }
  
          .buttonContainer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            label {
              height: 100%;
              margin-bottom: 0;
              color: $TertiaryDarkColor;
            }
  
            .commentButton {
              width: 60px;
              height: 100%;
              background-color: transparent;
              border: none;
              color: white;
              justify-self: end;
            }
          }
        }
        .commentsResponsesList{
          display: flex;
          flex-direction: column;
          gap: 8px;

          .commentCont{    
            border-radius: 8px;
            padding: 8px 12px;
            background-color: #323232;
            display: flex;
            flex-direction: column;
            gap: 4px;
            p{margin-bottom:4px ;}
            
            .commentTitle{
              display: flex;
              gap: 12px;
              align-items: center;
              margin-bottom: 12px;
              
              .userImgContainer{
                width: 25px;
                height: 25px;
                border-radius: 100%;
                border: 1px solid $PrimaryOrangeColor;
                overflow: hidden;
                gap: 12px;
                background-color: $PrimaryDarkColor;
                display: flex;
                align-items: center;
                justify-content: center;
                
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-fit: contain;
                }
                h6{
                  color: $PrimaryOrangeColor;
                  margin: 0;
                  font-weight: 400;
                }
                
              }
            }
            
           
            .responseCont{
              margin-left: 25px;
              border-radius: 8px;
              padding: 8px 12px;
              background-color: #232323;

            }
            .commentButton {
              width: 60px;
              height: 100%;
              background-color: transparent;
              border: none;
              color: white;
              justify-self: end;
            }

            .responseButton{
              width: fit-content;
              background-color: transparent;
              border: none;
              color: $PrimaryOrangeColor;
              border-radius: 8px;
              align-self: end;
            }

          }

        }
      }

    }
  }
  .icon {
    font-size: 24px;
    color: $PrimaryOrangeColor;
  }
  .icon2 {
    font-size: 18px;
    color: $PrimaryOrangeColor;
  }
  .icon3 {
    font-size: 16px;
    color: $PrimaryOrangeColor;
  }
}

// //Media XL
// @media (max-width: 1400px){
//   .lessonInfoMainSection{
//     padding: 4vh 4vw;
//   }
// }
