@import '../../../public/styles/variables';

.courseCard {
    width: clamp(220px, 20vw, 330px);
    display: flex;
    flex-direction: column;
    position: relative;

    .btnNormal {
        height: 40px;
        position: absolute;
        width: 120px;
        left: calc(clamp((110px - 60px), (127.5px - 60px), (165px - 60px)));
        top: calc(clamp(((123.75px / 2) - 20px), (71.65px - 60px), ((185.63px / 2) - 20px)));
        display: none;
    }

    .courseCardContent {
        .coursePreviewContainer {
            width: clamp(220px, 20vw, 330px);

            .preview {
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
            }
        }

        .courseCardBody {
            display: flex;
            flex-direction: column;
            padding: 10px;
            padding-top: 0;

            .courseTitle {
                width: 100%;
                height: 60px;
                border-bottom: $border-bottom;
                text-align: center;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .tagList {
                height: 25px;
                width: 100%;
                display: flex;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                color: $TertiaryDarkColor;

                .tag {
                    padding: 0 5px;
                    color: $TertiaryDarkColor;
                }
            }

            .courseScore {
                display: flex;
                align-items: end;
                gap: 5px;
                font-style: italic;
                font-size: x-large;

                h5 {
                    font-size: large;
                    color: $TertiaryDarkColor;
                }

                svg {
                    width: clamp(18px, 2vw, 20px);
                }

                .ratingCounter {
                    margin-bottom: 10px;
                    font-size: small;
                    color: $TertiaryDarkColor;
                }
            }

            .coursePriceButton {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    font-size: clamp(18px, 2vw, 24px);
                    margin: 0;
                }

                .currency {
                    color: $PrimaryOrangeColor;
                    font-size: medium;
                }

                button {
                    display: none;
                }
            }
        }
    }
}

.courseCard:hover {
    .btnNormal {
        display: flex;
        filter: none;
        z-index: 1;
    }

    .courseCardContent {
        filter: brightness(0.3);
    }
}