@import "../../../../../../public/styles/variables";

.LessonCreationModalContainer {
  backdrop-filter: blur(4px);
  background-color: none;

  .modalHeader {
    background-color: $CuaternaryDark;
  }

  .modalFooter {
    background-color: $CuaternaryDark;
  }

  .modalHeader {
    padding: 12px 12px 12px 36px;

    .cardTitle {
      display: flex;
      align-items: center;
      gap: 12px;
      color: white;

      .logoImg {
        width: 200px;
      }

      .iconContainer {
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: $PrimaryDarkColor;
        display: grid;
        place-items: center;
        font-size: 25px;
        color: $PrimaryOrangeColor;
      }

      .titleText {
        margin: 0;
      }
    }

    .btn-close {
      margin: 4px;
      border-radius: 100%;
      background-color: $PrimaryOrangeColor;
      opacity: 0.8;
    }

    .btn-close:hover {
      background-color: $PrimaryOrangeColor;
    }
  }

  .modalBodyLesson {
    height: fit-content;
    padding: 12px clamp(20px, 6vw, 100px);
    background-color: #9d9d9d;
    width: 100%;
    display: grid;
    grid-template:
      "inputLessonTilte"
      "inputDescription"
      "inputUrl";

    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    place-items: center;
    grid-gap: 6px;

    .inputLessonTitle {
      grid-area: inputTilte;
    }

    .inputDescription {
      grid-area: inputDescription;
    }

    .inputLessonUrl {
      grid-area: inputUrl;
    }

    .inputLessonTitle,
    .inputDescription,
    .inputLessonUrl {
      padding: 0 8px;
      width: 100%;
    }

    .inputLessonTitle,
    .inputLessonUrl,
    .inputLessonDescription {
      width: 350px;
      height: 40px;
      border-radius: 10px;
      border-style: solid;
      background-color: rgba(255, 255, 255, 0.181);
      padding: 0 20px;
      border: 2px solid $PrimaryDarkColor;
      color: $CuaternaryDark;
    }

    .inputLessonTitle:focus,
    .inputLessonUrl:focus,
    .inputLessonDescription:focus {
      background-color: rgba(82, 82, 82, 0.181);
      outline: none;
      border: 2px solid $PrimaryOrangeColor;
    }

    .inputLessonDescription {
      height: 100%;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    .inputDescription {
      height: 100%;
    }

    .errorMessage {
      font-weight: bold;
      color: $PrimaryOrangeColor;
      padding-left: 10px;
    }
  }

  .modalFooter {
    justify-content: space-evenly;

    .btnNormal {
      padding: 6px;
      width: 150px;
      border: 2px solid $PrimaryOrangeColor;
      color: black;
    }

    .btnNormal:hover {
      background-color: transparent;
      color: white;
    }

    .btnOutline1 {
      padding: 6px;
      width: 150px;
      font-weight: bold;
    }
  }
}

@media (max-width: 992px) {
  .courseCreationModalContainer {
    .modalBody {

      display: flex;
      flex-direction: column;

      .tagsList {
        height: 120px;
      }

    }

  }
}

@media (max-width: 576px) {
  .courseCreationModalContainer {
    .modalBodyLesson {
      display: flex;
      flex-direction: column;

      .tagsList {
        height: 120px;
      }

    }
  }
}