@import '../../../public/styles/variables';

.home {
    min-height: calc(100vh - 80px);
    background-color: $PrimaryDarkColor;
    color: white;

    .homeInfo {
        padding: clamp(8px, 20vw, 150px) clamp(8px, 3vw, 45px);

        h1 {
            margin: 0;
            padding-bottom: 30px;
            font-size: clamp(20px, 4rem, 75px);

            span {
                color: $PrimaryOrangeColor;
            }
        }

        p {
            margin: 0;
            padding-bottom: 20px;
        }

        .allCounter {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 100px;

            .homeCounter {
                font-size: 3rem;
                color: $PrimaryOrangeColor;
                text-align: center;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }

    .homeImage {
        padding: clamp(8px, 18vw, 100px) clamp(8px, 3vw, 45px);
        display: flex;
        justify-content: center;
        align-items: start;

        .orangeCircle {
            width: 550px;
            height: 550px;
            background-color: $PrimaryOrangeColor;
            border-radius: 50%;
        }
    }

    .homeMessages {
        padding: 0px clamp(8px, 14vw, 300px);
        padding-top: clamp(8px, 18vw, 25px);
        padding-bottom: clamp(8px, 18vw, 125px);

        .homeOneMessage {
            padding-bottom: 50px;

            h3 {
                color: $PrimaryOrangeColor;
                font-size: clamp(35px, 3.2vw, 53px);
                padding-bottom: 10px;
            }

            p {
                font-size: clamp(19px, 1.6vw, 24px);
                font-style: italic;
            }
        }
    }

    .topCourses,
    .bestCourses {
        padding: 0px clamp(8px, 3vw, 45px);
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;

        .topCoursesTitle,
        .bestCoursesTitle {
            border-bottom: 3px solid $PrimaryOrangeColor;
            font-size: 2.5rem;
        }
    }
}