@import '../../../public/styles/variables';

.home {
    min-height: calc(100vh - 80px);
    background-color: $PrimaryDarkColor;
    color: white;

    .homeInfo {
        padding: clamp(8px, 20vw, 160px) clamp(8px, 3vw, 45px);
        padding-bottom: clamp(8px, 11vw, 160px);

        h1 {
            margin: 0;
            padding-bottom: 30px;
            font-size: clamp(20px, 3.6vw, 75px);

            span {
                color: $PrimaryOrangeColor;
            }
        }

        p {
            margin: 0;
            padding-bottom: 20px;
        }

    }

    .homeImage {
        padding: clamp(8px, 18vw, 100px) clamp(8px, 3vw, 45px);
        display: flex;
        justify-content: center;
        align-items: start;

        .orangeCircle {
            width: clamp(250px, 32vw, 550px);
            height: clamp(250px, 32vw, 550px);
            background-color: $PrimaryOrangeColor;
            border-radius: 50%;
        }

        img {
            width: clamp(400px, 40vw, 900px);
        }
    }

    .homeMessages {
        padding: 0px clamp(8px, 8vw, 300px);
        padding-bottom: clamp(8px, 18vw, 125px);

        .homeOneMessage {
            padding-bottom: 50px;

            h3 {
                color: $PrimaryOrangeColor;
                font-size: clamp(35px, 3.2vw, 53px);
                padding-bottom: 10px;
            }

            p {
                font-size: clamp(19px, 1.6vw, 24px);
                font-style: italic;
            }
        }
    }

    .topCourses,
    .bestCourses {
        padding: 0px clamp(8px, 3vw, 45px);
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;

        .topCoursesTitle,
        .bestCoursesTitle {
            border-bottom: 3px solid $PrimaryOrangeColor;
            font-size: 2.5rem;
        }
    }

    .homeInfoMobile {
        padding: clamp(8px, 18vw, 100px) 0px;

        .infoLabel {
            padding: clamp(8px, 18vw, 50px) clamp(8px, 3vw, 45px);
            border-radius: clamp(0px, 20vw, 300px);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $PrimaryOrangeColor;
        }



        h1 {
            margin: 0;
            padding-bottom: 30px;
            font-size: clamp(18px, 3.6vw, 75px);

            span {
                color: $PrimaryDarkColor;
            }
        }

        p {
            color: $PrimaryDarkColor;
            margin: 0;
            padding-bottom: 20px;
        }

    }
    //  //Tablet
    //  @media (max-width: 1009px) {

    //     .homeInfoMobile {
    //         .infoLabel {
    //             border-top-left-radius: 0px;
    //             border-bottom-left-radius: 0px;
    //         }
    //     }

    // }


    // media query -> label info
    @media (max-width: 576px) {

        .homeInfoMobile {
            .infoLabel {
                border-radius: 0px;
            }
        }

    }

    .allCounter {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: clamp(0px, 16vw, 100px);

        .homeCounter {
            font-size: clamp(35px, 6vw, 48px);
            color: $PrimaryOrangeColor;
            text-align: center;
        }

        p {
            font-size: clamp(16px, 3vw, 24px);
        }
    }
}