@import "../styles/variables";

.main {
  min-height: calc(100vh - 80px);
  background-color: $PrimaryDarkColor;
  background: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #2b2a29 !important;
  border: none !important;
}

.modal-content {
  border: none;
}

.formContainer {
  width: 50vw !important;
  height: 60vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: transparent !important;
}

.form1 {
  background-color: $PrimaryOrangeColor;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 40px;
}

.bckModal {
  background: #2b2a29;
  padding: 0 !important;
  width: 50vw !important;
  height: 60vh !important;
  position: fixed;
  left: 25%;
  top: 25%;
}

.form2 {
  background-color: #d9d9d9bb;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 40px;
}

.form3 {
  background-color: #d9d9d9bb;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 40px;
}

.form4 {
  background-color: $PrimaryOrangeColor;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 40px;
  color: $PrimaryDarkColor;
}

.text-group {
  .welcome-title {
    font-size: clamp(24px, 2vw, 32px);
    font-weight: bold;
    text-align: center;
  }

  .text-paragraph {
    font-size: clamp(14px, 1.5vw, 20px);
    text-align: center;
  }
}

.span {
  color: #f7ab16;
  text-decoration: none;
  font-weight: bold;
}

.forminput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  padding: 16px 19px;
  background-color: #d9d9d9bb;
  color: black;
  margin: 0px;
  font-size: 15px;
}

/*Responsive Form*/

@media screen and (max-width: 580px) {
  .formContainer {
    width: 80vw;
    height: 60vh;
    flex-direction: column;
    padding: 20px;

    .form1 {
      width: 100%;
      height: 50%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      padding: 20px;
    }

    .form2 {
      width: 100%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 40px;
    }

    .form3 {
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0px;

      padding: 40px;
    }

    .form4 {
      width: 100%;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      padding: 40px;
    }
  }
}
