.ratingStars {
    width: 100%;
    padding: 0.375rem 0.75rem;
    display: flex;
    justify-content: end;
    align-items: center;
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: x-large;

    .starLabel:hover {
        color: #f7ab16;
    }

    label:hover~label {
        color: #f7ab16;
    }

    input[type="radio"]:checked~label {
        color: #f7ab16;
    }

    input[type="radio"] {
        display: none;
    }
}