@import "../../../../../public/styles/variables";

.mainSectionAdmin {
  min-height: 100vh;
  padding: 4vh 5vw;
  background-color: $PrimaryDarkColor;
  color: white;
  display: flex;
  gap: 8px;

  .mainContainer,
  .sideContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .sideContent {
    width: 30%;
  }
  .mainContainer {
    width: 70%;
  }

  .AdminCard,
  .adminInfoCard,
  .adminChartCard,
  .creationButtonsCard,
  .allUnitsLessonCard,
  .allTeachersCard,
  .allStudentsCard,
  .counterCard {
    background-color: $CuaternaryDark;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
  }
  //Common Styles
  .iconContainer {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: $PrimaryDarkColor;
    display: grid;
    place-items: center;
    color: $PrimaryOrangeColor;
    font-size: 20px;
  }

  //User Card
  .adminCard {
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;

    .imgContainer {
      width: 60px;
      aspect-ratio: 1/1;
      border-radius: 100%;
      overflow: hidden;
      display: grid;
      place-items: center;
      background-color: $PrimaryDarkColor;
      color: $PrimaryOrangeColor;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      
      .avatarText {
        margin: 0;
      }
    }

    .textContainer {
      display: flex;
      flex-direction: column;

      .name {
        text-transform: capitalize;
        font-size: 16px;
      }

      p {
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: $TertiaryDarkColor;
      }
    }

    .editionButton {
      color: $TertiaryDarkColor;
      align-self: start;
      flex-grow: 1;
      display: flex;
      justify-content: end;

      .iconButton:hover {
        color: $PrimaryOrangeColor;
        cursor: pointer;
      }
    }
  }

  //Counters style
  .counterCardContainer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;

    .counterCard {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      .textContianer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          color: $TertiaryDarkColor;
          font-size: 12px;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
  //Admin More Info Card
  .adminInfoCard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .cardTitle {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .cardBody {
      padding: 0 20px;
      overflow: hidden;
      .lineInfo {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 50%;
        }

        .infoIcon {
          color: $TertiaryDarkColor;
        }
      }
    }
  }

  // All course Card
  .allUnitsLessonCard {
    .adminCoursesList {
      display: flex;
      flex-direction: column;
      padding: 10px 16px;
      color: white;
      gap: 12px;

      .cardTitle {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-right: 12px;
        margin-bottom: 10px;

        .listContainer {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;

          form {
            width: fit-content;
            height: 100%;
            .searchBar {
              min-width: 250px;
              max-width: 300px;
              border-radius: 20px;
              border: 2px solid $PrimaryOrangeColor;
              padding: 0 10px;
              display: flex;
              align-items: center;
              gap: 5px;

              input {
                width: 100%;
                border: none;
                background: transparent;
              }

              input:focus {
                border: none;
                outline: none;
              }
            }
          }
          .title {
            display: flex;
            align-items: center;
            gap: 20px;

            .titleText {
              margin: 0;
            }
          }
        }
      }

      //COurse List
      .courseListed {
        width: 100%;
        padding: 0 2vw;
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        //Courses rows
        .courseRow {
          width: 100%;
          display: flex;
          gap: 12px;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $TertiaryDarkColor;

          // Course name
          .courseNameIconCont {
            display: flex;
            align-items: center;
            gap: 4px;
            align-self: end;

            h6 {
              margin: 0;
              font-size: large;
              .icon {
                color: $PrimaryOrangeColor;
                font-size: 20px;
              }
            }
          }
          .courseIconsFuncitionsButtonsContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: end;
            gap: 8px;

            //Course Functions buttons
            .iconFuncionsCont {
              display: flex;
              gap: 20px;
              align-items: center;
              .icon:hover {
                color: $PrimaryOrangeColor;
                cursor: pointer;
              }
            }
            //Course icon Info
            .iconsInfoCont {
              display: flex;
              flex-grow: 1;
              gap: 40px;
              align-items: center;

              .courseIconCont {
                display: flex;
                align-items: center;
                gap: 4px;
              }

              .icon {
                color: $PrimaryOrangeColor;
              }

              .buttonText {
                border: none;
                background-color: transparent;
                color: white;
                display: flex;
                align-items: center;
                gap: 4px;
              }
              .buttonText:hover {
                color: $PrimaryOrangeColor;
              }
            }
          }
        }

        //Units List Cont
        .unitsList {
          display: flex;
          flex-direction: column;
          padding: 0 0 0 12px;

          .unitListed {
            overflow: hidden;
            //Unit Row
            .unitRow {
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid $TertiaryDarkColor;
              padding: 12px 0px 4px 10px;

              //Unit title
              .unitTitleContainer {
                display: flex;
                align-items: center;
                h6 {
                  margin: 0;
                  span {
                    color: $PrimaryOrangeColor;
                  }
                  .unitName {
                    font-weight: 400;
                    color: white;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                  }
                }
              }

              //Unit Buttons
              .unitsButtonsContainer {
                display: flex;
                gap: 20px;
                align-items: center;
                span {
                  .icon:hover {
                    color: $PrimaryOrangeColor;
                    cursor: pointer;
                  }
                }
                .buttonText {
                  border: none;
                  background-color: transparent;
                  color: white;
                  display: flex;
                  align-items: center;
                  gap: 4px;

                  .icon {
                    color: $PrimaryOrangeColor;
                  }
                }
                .buttonText:hover {
                  color: $PrimaryOrangeColor;
                }
              }
            }

            //Lessons list
            .lessonsList {
              display: flex;
              flex-direction: column;
              padding: 0 0 0 20px;
              overflow: hidden;

              .lessonRow {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid $TertiaryDarkColor;
                padding: 12px 0px 4px 10px;

                .lessonRowLine {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .lessonTitle {
                    .lessonText {
                      margin: 0;

                      span {
                        color: $PrimaryOrangeColor;
                      }
                    }
                  }
                  .lessonFunctionsButtons {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    span {
                      .icon:hover {
                        color: $PrimaryOrangeColor;
                        cursor: pointer;
                      }
                    }
                  }
                }

                //Resource
                .resourceRow {
                  display: flex;
                  gap: 10px;
                  border-top: 1px solid $TertiaryDarkColor;

                  padding: 8px 10px 0px 10px;
                  margin-bottom: 10px;

                  .resourceFunctionsButtonsCont {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    font-size: 14px;

                    .icon:hover {
                      color: $PrimaryOrangeColor;
                      cursor: pointer;
                    }
                    .deleteIcon:hover {
                      cursor: pointer;
                      color: rgb(255, 45, 45);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  //Main
  .mainContainer {
    width: calc(70% - 8px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;

    .coursesTableCard,
    .adminTableCard {
      display: flex;
      flex-direction: column;
      background-color: $CuaternaryDark;
      border-radius: 12px;
      padding: 18px;
      color: white;
      gap: 12px;

      .cardTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 12px;

        .title {
          display: flex;
          align-items: center;
          gap: 20px;

          .titleText {
            margin: 0;
          }
        }

        form {
          width: fit-content;
          height: 100%;
          .searchBar {
            min-width: 250px;
            max-width: 300px;
            border-radius: 20px;
            border: 2px solid $PrimaryOrangeColor;
            padding: 0 10px;
            display: flex;
            align-items: center;
            gap: 5px;

            input {
              width: 100%;
              border: none;
              background: transparent;
            }

            input:focus {
              border: none;
              outline: none;
            }
          }
        }
      }

      .cardBody {
        width: 100%;
        padding: 0 2vw;

        .adTable {
          width: 100%;

          tr {
            color: white;
            border-bottom: 1px solid $TertiaryDarkColor;
            height: 50px;

            th {
              font-weight: 400;
              text-align: start;
            }

            @media (max-width: 768px) {
              .headIcon {
                margin: auto;
              }
            }
            .tableCell {
              height: 100% !important;

              .tableCellContent {
                height: 100%;
              }
            }
          }

          .tableStyle {
            width: 100%;
            border-bottom: 1px solid $TertiaryDarkColor;
            height: 40px;
            display: flex;
            justify-content: space-between;

            .tdImg {
              .tableImg {
                margin: auto;
                height: 25px;
                width: 25px;
                background-color: $PrimaryOrangeColor;
                border-radius: 5px;
                display: grid;
                place-items: center;

                h6 {
                  margin: 0;
                }
              }
            }

            tbody {
              width: 100%;

              td {
                text-align: center;

                .tableCell {
                  display: flex;
                  align-items: center;
                  justify-content: start;
                  gap: 5px;

                  .tableCellContent {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    height: 100%;
                    .icon {
                      color: $PrimaryOrangeColor;
                      font-size: 20px;
                    }
                  }
                }

                @media (max-width: 768px) {
                  .iconCell {
                    justify-content: center;
                    padding: 5px;
                  }
                }
              }

              .tableCellName {
                text-align: start;
                padding: 0 8px;
              }
            }
          }
        }
      }
    }
  }
}

//Media Tablet
@media (max-width: 1200px) {
  .mainSection {
    flex-direction: column;
    .sideContent {
      width: 100%;
      display: grid;
      grid-template:
        "adminCard userInfo"
        "counter userInfo";
      grid-template-rows: 1fr auto;

      .adminCard {
        height: 100%;
      }

      .counterContainer {
        gap: 8px;
        height: 100%;
        .counterCard {
          flex-direction: row;
        }
      }
    }

    .mainContainer {
      width: 100%;
    }
  }
}
//Media Tablet Vertical
@media (max-width: 768px) {
  .mainSection {
    flex-direction: column;
    .sideContent {
      width: 100%;
      display: grid;
      grid-template:
        "adminCard counter"
        "userInfo userInfo";

      .counterContainer {
        gap: 8px;
        height: 100%;
        .counterCard {
          flex-direction: column;
        }
      }
    }

    .mainContainer {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .mainSection {
    .sideContent {
      grid-template:
        "adminCard"
        "counter"
        "userInfo";
    }
  }
}

.adminCard {
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;

  .imgContainer {
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
    background-color: $PrimaryDarkColor;
    color: $PrimaryOrangeColor;

    .avatarText {
      margin: 0;
    }
  }
}

.avatarTextUser {
  height: 25px;
  width: 25px;
  background-color: #f7ab16;
  border-radius: 5px;
  display: grid;
  place-items: center;
  color: white;
  padding: 0;
  margin: 0;
}

.tdImg {
  .tableImg {
    margin: auto;
    height: 25px;
    width: 25px;
    background-color: $PrimaryOrangeColor;
    border-radius: 5px;
    display: grid;
    place-items: center;

    h6 {
      margin: 0;
    }
  }
}

.tableCellName {
  text-align: start;
  padding: 0 8px;
}

//Media Tablet
@media (max-width: 1200px) {
  .mainSectionAdmin {
    flex-direction: column;
    .sideContent {
      width: 100%;
      display: grid;
      grid-template:
        "AdminCard counterCardContainer"
        "adminInfoCard adminChartCard"
        "creationButtonsCard creationButtonsCard";
      grid-template-rows: auto;
      grid-template-columns: auto 50%;

      .AdminCard {
        grid-area: AdminCard;
        display: flex;
        align-items: center;
      }
      .counterCardContainer {
        grid-area: counterCardContainer;
      }
      .adminInfoCard {
        grid-area: adminInfoCard;

        .cardBody {
          margin: auto;
          margin-left: 10px;
          div {
            gap: 15px;
          }
        }
      }
      .adminChartCard {
        grid-area: adminChartCard;
      }
      .creationButtonsCard {
        grid-area: creationButtonsCard;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly !important;
      }

      .counterContainer {
        gap: 8px;
      }

      .counterContainer {
        gap: 8px;
        .counterCard {
          flex-direction: row;
        }
      }
    }

    .mainContainer {
      width: 100%;
    }
  }
}
//Media Tablet Vertical
@media (max-width: 768px) {
  .mainSectionAdmin {
    flex-direction: column;

    .sideContent {
      width: 100%;
      display: grid;
      grid-template:
        "AdminCard AdminCard"
        "counterCardContainer counterCardContainer"
        "adminInfoCard adminChartCard"
        "creationButtonsCard creationButtonsCard";
      grid-template-columns: auto 50%;
      gap: 8px;
      color: white;
    }

    .mainContainer {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .mainSectionAdmin {
    .sideContent {
      width: 100%;
      display: grid;
      grid-template:
        "AdminCard"
        "counterCardContainer"
        "adminInfoCard"
        "adminChartCard"
        "creationButtonsCard"
        "creationButtonsCard";
      grid-template-rows: auto;
      grid-template-columns: 100%;

      .counterCardContainer {
        //  display: flex;
        // flex-direction: column;
        display: grid;
        grid-template:
          "a b"
          "c d";
        justify-content: unset;
        .counterCard {
          width: 100%;
          gap: 12px;
          display: flex;
          flex-direction: row;
          padding-left: 25px;
          align-items: center;

          .textContianer {
            flex-direction: row;
            gap: 12px;

            h6,
            p {
              margin: 0;
            }
          }
        }
      }
    }

    .allUnitsLessonCard {
      .adminCoursesList {
        .cardTitle {
          .listContainer {
            flex-direction: column;
            align-items: start;
            gap: 12px;
            form {
              width: 100%;

              .searchBar {
                max-width: none;
                min-width: none;
                width: 100%;
              }
            }
          }
        }

        .courseListed {
          .courseRow {
            flex-direction: column;
          }
          .unitsList {
            .unitListed {
              .unitRow {
                .unitsButtonsContainer {
                  gap: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .mainSectionAdmin {
    .sideContent {
      .counterCardContainer {
        display: grid;
        grid-template:
          "a"
          "b"
          "c"
          "d";
      }
    }
  }
}
